


  <div class="post">
    <img src="{{ post.data.image }}" alt="" class="image">
    <div class="date">
        <i class="far fa-clock"></i>
        <span>{{ post.data.date | postDate }}</span>
    </div>
    <h3 class="title">{{ post.data.title }}</h3>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum molestias rerum numquam, quos aut est culpa quisquam excepturi sed a inventore dicta tempore consequuntur possimus magnam corporis cum doloremque quasi fugiat exercitationem aliquid cupiditate pariatur. Dolor laboriosam voluptatem ex praesentium magni error debitis maxime alias autem distinctio. Fuga, esse velit!</p>
    <p class="text">{{ post.data.description }}</p>
    <div class="links">
        <a href="#" class="user">
            <i class="far fa-user"></i>
            <span>by {{ post.data.author }}</span>
        </a>
        <a href="{{ post.url }}" class="icon">
            <i class="far fa-comment"></i>
            <span>(45)</span>
        </a>
        <a href="#" class="icon">
            <i class="far fa-share-square"></i>
            <span>(29)</span>
        </a>
    </div>
</div>