<header class="header">

    <a href="#" class="logo"><span>Dev</span>logger</a>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="#contact">contact me</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>