---
title: blog
layout: 'base.njk'
---

<section class="container blog" >
    <div>
        Blog
    </div>
</section>

<section class="container" id="posts">

    <div class="posts-container">

        {%- for post in collections.post | reverse -%}
          {%- include 'article-snippet.njk' -%}
        {%- endfor -%}


    </div>

    <div class="sidebar">

        <div class="box">
            <h3 class="title">categories</h3>
            <div class="category">
                <a href="#">TypeScript <span>1</span</a>
                <a href="#">Front-end <span>1</span</a>
                <a href="#">System Design <span>1</span</a>
                <a href="#">Project <span>1</span</a>
                <a href="#">Data Structure <span>1</span></a>
                <a href="#">Algorithm <span>1</span</a>
            </div>
        </div>

        <div class="box">
            <h3 class="title">Todos</h3>
            <div class="p-post">

                <a href="#">
                    <h3>05. TODO: add mail feature </h3>
                    <span><i class="far fa-clock"></i>TBD</span>
                </a>
                <a href="#">
                    <h3>04. TODO: tagging feature </h3>
                    <span><i class="far fa-clock"></i>TBD</span>
                </a>                
                <a href="#">
                    <h3>03. add netlifycms -- DONE </h3>
                    <span><i class="far fa-clock"></i>july 5th, 2022</span>
                </a>
                <a href="#">
                    <h3>02. add netlify hosting and google donain -- DONE </h3>
                    <span><i class="far fa-clock"></i>july 5th, 2022</span>
                </a>
                <a href="#">
                    <h3>01. Add support 11ty - DONE</h3>
                    <span><i class="far fa-clock"></i>july 5th, 2022</span>
                </a>
            </div>
        </div>

        <div class="box">
            <h3 class="title">popular tags</h3>
            <div class="tags">
                <a href="#">TypeScript</a>
                <a href="#">Front-end</a>
                <a href="#">System Design</a>
                <a href="#">Project</a>
                <a href="#">Data Structure</a>
                <a href="#">Algorithm</a>
            </div>
        </div>

    </div>

</section>

<!-- posts section ends -->


